<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> BELDIC.NET | INFO</title>
</head>
<body>