{{>head}}




    
     {{>navbar}}

  
      <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">TALLER DE VIDEOJUEGOS, por {{ nombre }}</h1>
        <p class="lead">Esta es una página web para enlazar con algunas de las demos de los videjuegos desarrollados en el presente taller.</p>
        <hr class="my-4">
        <p>Sientete libre de navegar y probar las demos de los videojuegos que se presentan.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Más info</a>
      </div>
      


      
      <ul class="list-group">
  
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Cras justo odio
    <span class="badge badge-primary badge-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Dapibus ac facilisis in
    <span class="badge badge-primary badge-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Morbi leo risus
    <span class="badge badge-primary badge-pill">1</span>
  </li>
</ul></div>

      {{> footer }}