{{>head}}




    
     {{>navbar}}


      <div class="jumbotron">
        <h1 class="display-4">TALLER DE VIDEOJUEGOS, por {{ nombre }}</h1>
        <p class="lead">Esta es una página web para enlazar con algunas de las demos de los videjuegos desarrollados en el presente taller.</p>
        <hr class="my-4">
        <p>Sienteté libre de navegar y probar las demos de los videojugos que se presentan.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Más info</a>
      </div>


      {{> footer }}